.body {
  color: black;
  width: 350px;
}

.userHeader {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.userInfo {
  display: flex;
}

.userCard {
  background-color: #fb9300;
  border-radius: 20px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}
