.body {
  background-color: #faf9fb;
  color: black;
  width: fit-content;
  width: 100%;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
}

.categoryMap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categoryItem {
  background-color: #fff;
  width: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  height: 120px;

  &:hover {
    background-color: #fb9300;
    color: white;
    cursor: pointer;

    .categoryIcon {
      background-color: #fff;
      border-radius: 50%;
      padding: 5px;
    }

    .categoryArrow {
      background-color: #fff;
      color: #fb9300;
    }
  }
}

.categoryIcon {
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
}

.categoryArrow {
  background-color: #fb9300;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  height: 15px;
  width: 15px;
}

.pizzaWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  margin-top: 30px;

  a {
    text-decoration: none;
    color: #fb9300;
  }
}

.pizzaName {
  font-size: 18px;
  font-weight: 600;
}

.pizzaCurrency {
  font-size: 12px;
  font-weight: 600;
  color: #fb9300;
}

.plusIcon {
  background-color: #fb9300;
  color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 2px 2px 5px #fb9300;
}
